<div class="row" id="profile-row">
    <div class="col-md-2" id="profile-tabs">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li value="config" class=" active profile-tab"><a href="#config" data-toggle="tab">Configuraciones</a></li>
                <li value="pending" class="profile-tab"><a href="#pending" data-toggle="tab">Noticias Pendientes</a></li>
                <li value="accepted" class="profile-tab"><a href="#accepted" data-toggle="tab">Noticias Aceptadas</a></li>
                <li value="rejected" class="profile-tab"><a href="#rejected" data-toggle="tab">Noticias Rechazadas</a></li>
                <li value="deleted" class="profile-tab"><a href="#deleted" data-toggle="tab">Noticias Eliminadas</a></li>
                <li value="admin" class="profile-tab"><a href="#admin" data-toggle="tab">Administracion</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            <div class="tab-pane active well" id="config">
                <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= devise_error_messages! %>
                  <%= f.password_field :password, label: "Nueva contraseña",autocomplete: "off" %>
                  <hr/>
                  <%= f.password_field :password_confirmation, label: "Confirmar nueva contraseña", autocomplete: "off" %>
                  <hr/>
                  <%= f.password_field :current_password, label: "Contraseña actual", autocomplete: "off" %>
                  <hr/>
                  <%= f.submit "Actualizar" %>
                <% end %>
            </div>
            
            <div class="tab-pane" id="pending"></div>
            
            <div class="tab-pane" id="accepted"></div>
            
            <div class="tab-pane" id="rejected"></div>
            
            <div class="tab-pane" id="deleted"></div>
            
            <div class="tab-pane" id="admin"></div>
        </div>
    </div>
    
    <div class="col-md-1"></div>
</div>

<script>
    $('.profile-tab').click(function () {
        var tabId = $(this).attr("value");
        if (tabId != "admin" && tabId != "config") {
            $.ajax({
                method: "post",
                url: "/articles/state",
                async: true,
                data: {'state':tabId},
                success: function(html){
                    $("#" + tabId).html(html);
                }
            });
        }
    });
</script>