<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h2>Registrarse</h2>
    <div class="well">
      
      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
      
        <%= f.email_field :email, label: "Correo electrónico*", autofocus: true %>
        
        <%= f.password_field :password, label: "Contraseña (mínimo 8 caracteres)*", autofocus: true %>
    
        <%= f.password_field :password_confirmation, label: "Confirmar contraseña*", autofocus: true %>
      
        <div class="actions">
          <%= f.submit "Aceptar" %>
        </div>
      <% end %>
      
    </div>
    
  </div>
</div>