<div class="row">
    <div class="col-md-8 col-md-offset-2">
        
        <h2>Nueva noticia</h2>
        
        <div class="well">
        
            <%= form_for @article, url: {action: "create"}, html: {class: "form-horizontal"} do |f| %>
                <div class="form-group">
                    <label class="control-label">Titulo de la noticia</label>
                    <%= f.text_field :title, :class => "form-control", maxlength: "80" %>
                </div>
                
                <div class="form-group">
                    <label class="control-label">Categoría</label>
                    <%= f.select(:category, ['Mundo', 'Costa Rica', 'Deportes', 'Entretenimiento', 'Tecnologia', 'Ciencia',
                    'Salud', 'Negocio'], {}, { :class => 'form-control'}) %>
                </div>
                
                <div class="form-group">
                    <label class="control-label">Resumen de la noticia</label><p id="summary-length">450</p>
                    <%= f.text_area :summary, :class => "form-control", :id => "input-summary", maxlength: "450", rows: "5" %>
                </div>
                
                <div class="form-group">
                    <label class="control-label">Cuerpo de la noticia</label><p id="body-length">5000</p>
                    <%= f.text_area :body, :class => "form-control", :id => "input-body", maxlength: "5000", rows: "10" %>
                </div>
                
                <div class="form-group">
                    <label class="control-label">Enlace de referencia</label>
                    <%= f.text_field :link, :class => "form-control" %>
                </div>
                
                <%= f.submit "Crear", :class => "btn btn-default final-button" %>
            <% end %>
            <br/>
        </div>
    </div>
</div>

<script type="text/javascript">
	$('#input-body').keyup(function(e) {
        var len = $(this).val().length;
        var remain = 5000 - len;
        $("#body-length").text(remain);
        if(remain == 0) $("#body-length").html("<label style ='color:red'>"+remain+"</label>");
    });
    
    $('#input-summary').keyup(function(e) {
        var len = $(this).val().length;
        var remain = 450  - len;
        $("#summary-length").text(remain);
        if(remain == 0) $("#summary-length").html("<label style ='color:red'>"+remain+"</label>");
    });
</script>	