<!DOCTYPE html>
<html>
<head>
  <title>UNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <header class="navbar navbar-static-top navbar-default" id="main-top-bar">
    <div class="container">
        <h1 class="pull-left"><a href="/"><i class="fa fa-newspaper-o"></i> UNews</a></h1>
          <p class="navbar-text pull-right nav-devise-links">
          <% if user_signed_in? %>
            Usuario: <strong id="current-user-nav"><%= current_user.email %></strong>
            <%= link_to 'Mi Perfil', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
            <br/>
            <%= link_to "Entrar con Facebook", user_omniauth_authorize_path(:facebook) %>
          <% end %>
    </div>
  </header>
  
  <%= render 'layouts/partials/alerts' %>
  
  <main>
    <%= yield %>
  </main>
  
  <div class="navbar-default navbar-bottom" id="footerNav">
    <div class="container">
      <p id="footerCopyright" class="muted pull-right"> Created by UTeam <i class="fa fa-copyright"></i></p>
    </div>
    
  </div>  
  
</body>
</html>